#preload-01 { background: url(assets/intensite/bouteille1.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(assets/intensite/bouteille2.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(assets/intensite/bouteille3.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(assets/intensite/bouteille4.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(assets/intensite/bouteille5.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(assets/intensite/bouteille6.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(assets/intensite/bouteille7.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(assets/intensite/bouteille8.png) no-repeat -9999px -9999px; }
#preload-09 { background: url(assets/intensite/bouteille9.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(assets/intensite/bouteille10.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(assets/intensite/bouteille11.png) no-repeat -9999px -9999px; }
#preload-12 { background: url(assets/intensite/bouteille12.png) no-repeat -9999px -9999px; }